<h1>Welcome <%=@user.name%></h1>



<p><%= @user.name %>'s Upcoming Events</p>


<% y = @user.events.uniq %>
<% y.each do |z| %>
<li><%= link_to "#{z.name}", event_path(z) %></li>
<br>
    <% end %>

<br>
    <button id='events-data'>See All Upcoming Events</button>
    <div id='ajax-events'></div>
    <br>
    <br>


  <button id='events-alpha'>See All Events Alphabetically</button>
  <div id='alpha-events'></div>

  <br>
  <br>
  <button id='events-location'>See All Events By Location</button>
  <div id='alpha-location'></div>